@import "../variables.scss";
@import "../fonts.scss";

.about--wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.about--info {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
}

.about-title {
      font-weight: 300;
}

.about-name {
      font-size: 2.5em;
}

.know-more {
      border: 0.2em solid $bg-secondary;
      padding: 0.5em 2.5em;
      color: white;
      font-size: 0.8em;
      position: relative;

      box-shadow: 0em 0.3125em 0.625em 0em rgba(0, 0, 0, 0.5);
      transition: all ease 0.2s;

      &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -5;
            opacity: 0;
            background-color: $bg-secondary;
            transition: opacity 0.2s;
      }

      &:hover {
            transform: translateY(-0.3125em);
            box-shadow: 0em 0.625em 1.25em 0.125em rgba(0, 0, 0, 0.25);

            &::after {
                  opacity: 1;
            }
      }
}

.about--illustration {
      font-family: "Dancing Script", cursive;
      height: 20em;
      width: 35%;
      transform: translateY(-9em);
      text-shadow: 0.2em 0.4em 0.125em $bg-tertiary;
      transition: all 0.3s;

      &:hover {
            transform: translateY(-9.5em);
            text-shadow: 0.3em 0.6em 0.504em $bg-tertiary;
      }
}

.animated-letter {
      font-size: 25em;
}
