@import "../variables.scss";
@import "../fonts.scss";

.about--wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.about--info {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
}

.about-title {
      font-weight: 300;
      color: gray;
}

.about-name {
      font-size: 2.5em;
}

.about--socials {
      display: flex;
      gap: 1em;

      svg {
            transform: translateY(0.1em);
            margin-inline: 0.1em;
      }
}

.about--illustration {
      font-family: "Dancing Script", cursive;
      height: 20em;
      width: 35%;
      transform: translateY(-9em);
      text-shadow: 0.2em 0.4em 0.125em $bg-tertiary;
      transition: all 0.3s;
      animation: illustration-animation 5s infinite;
      
      &:hover {
            animation-play-state: paused;   
            text-shadow: 0.3em 0.6em 0.504em $bg-tertiary;
      }
}

.animated-letter {
      font-size: 25em;
}

.know-more {
      position: absolute;
      text-align: center;
      bottom: 0;
      transform: translateY(-150%);

      svg {
            margin-top: 0.5em;
            animation: up-down-animation 2s infinite;
      }
}

@keyframes illustration-animation {
      0%,
      100% {
            transform: translateY(-9em);
      }
      50% {
            transform: translateY(-5em) scale(0.8);
      }
}

@keyframes up-down-animation {
      0%,
      100% {
            transform: translateY(10%);
      }
      50% {
            transform: translateY(-40%);
      }
}
