@import "../variables.scss";

footer {
      font-weight: 200;
      font-size: 0.8em;
      text-align: center;
      padding: 1.5em;
      color: $text-color;

      @media screen and (max-width: 768px) {
            margin-bottom: $sidebar-width;
      }

      a {
            font-weight: 500;
            transition: color 0.3s;

            &:hover {
                  color: lighten($text-color, 20);
            }
      }
}
