.realisations__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  width: 100%;
}

.realisations__title {
  font-size: 2.5em;
  margin-top: 1em;
}
