@import "../variables.scss";

.skills--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3em;
}

.skills-title {
      font-size: 2.5em;
      margin-top: 1em;

      svg {
            transform: translateY(.1em);
      }
}

.skills--body {
      width: 100%;
}