@import 'variables.scss';

footer {
      font-weight: 200;
      font-size: .8em;
      text-align: center;
      padding: 1.5em;
      color: $text-color;
      
      a {
            font-weight: 500;
            transition: color 0.3s;
            
            &:hover {
                  color: lighten($text-color, 20);
            }
      }
}